<% provide(:title, "About") %>
    <body>
        <h1>About</h1>      
            <p>
                <a href="https://www.railstutorial.org/book/">Sach rails 5</a> and
                <a href="https://github.com/qshino1997/App">MY APP</a>
                <a href="https://www.facebook.com/Qshino97">Quang Shino 1997</a> Here is my fb
            </p>
    </body>
</html>