<% provide(:title, "Help") %>
    <body>
        <p>=>>
            <a class="text-box" href="https://www.youtube.com/watch?v=gUp9n9eYVq0">List nhac, Giúp bạn giải trí với những bài hát sau </a>
        </p>
        <p>=>>
            <a class="text-box" href="https://www.youtube.com/watch?v=WX7dUj14Z00"> Bac Phan </a>
        </p>
    </body>
</html>