<footer class="footer">
  <small , style="color:white">
    The <a href="https://www.railstutorial.org/" , style="color:white">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/", style="color:white">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about_path', style:"color:white" %></li>
      <li><a href="http://news.railstutorial.org/" , style="color:white">News</a></li>
    </ul>
  </nav>
</footer>
